#nav{
   
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin: auto;
    background-color: blueviolet;
    height: 30px;
    gap:20px;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color: blue;
}